<div class="container ">
  <div class="row">
    <div class="col">
      <button class="text-center curso">
        <img src="./../../../assets/img/online-cursos.jpg" class="img-curso">
        Administração
      </button>
    </div>
    <div class="col">
      <button class="text-center curso">
        <img src="./../../../assets/img/online-cursos2.jpg" class="img-curso">
        Eletrônica
      </button>
    </div>
    <div class="col">
      <button class="text-center curso">
        <img src="./../../../assets/img/online-cursos.jpg" class="img-curso">
        Full Stack
      </button>
    </div>
    <div class="col">
      <button class="text-center curso">
        <img src="./../../../assets/img/online-cursos2.jpg" class="img-curso">
        Eletricista
      </button>
    </div>
    <div class="col">
      <button class="text-center curso">
        <img src="./../../../assets/img/online-cursos.jpg" class="img-curso">
        Engenheiro de Produção
      </button>
    </div>
    <div class="col">
      <button class="text-center curso">
        <img src="./../../../assets/img/online-cursos2.jpg" class="img-curso">
        BackEnd
      </button>
    </div>
  </div>

</div>
<app-aluno></app-aluno>
